.dial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background: #FFF;
  border-radius: 36px;
  cursor: pointer;
}

.dial_dark {
  background: #2B2D33;
}

.dial_active {
  border: 3px solid #22BACB;
  width: calc(100% - 6px);
  height: 234px;
}

.dial:hover .clock__dial_active {
  border: 3px solid #F5F5F6;
}

.dial_active_dark { /* двойной модификатор */
  border: 3px solid #F5F5F6;
}

.dial_status_work {
  background: #22BACB;
}

.dial_status_work_dark {
  background: #99E2EA;
}

.dial__text {
  position: absolute; /* для инпута */
  z-index: -5;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: transparent;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 84px;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss03' on, 'cv02' on, 'ss02' on, 'liga' off;
  color: #2B2D33;
  cursor: pointer;
  outline: 0;
}

.dial__text::selection {
  text-shadow: none;
  background: #22BACB1A;
}

.dial__text:hover {
  font-size: 67px;
  border-bottom: 3px solid #2B2D33;
}

.dial__text_view_dark {
  color: #FFF;
}

.dial__text_view_dark:hover {
  font-size: 67px;
  border-bottom: 3px solid #FFF;
}

.dial__text_status_work {
  color: #FFF;
}

.dial__text_status_work_dark {
  color: #2B2D33;
}

.dial__input {
  font-size: 67px;
  border-bottom: 3px solid #2B2D33;
}

.dial__input_dark {
  font-size: 67px;
  border-bottom: 3px solid #FFF;
}
