.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 18px;
  width: 86%;
  max-width: 1200px;
}

@media screen and (max-width: 376px) {
  .header__navtab {
    display: none;
  }
}

.header__title-link {
  text-decoration: none;
}

.header__title {
  margin: 0;
  padding: 0;
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
  color: #2b2d33;
}

.header__title_dark {
  color: #fff;
}

.header__menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 24px;
}

.header__link-item {
  margin-right: 50px;
}

.header__link {
  text-decoration: none;
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
  color: #2b2d33;
  cursor: pointer;
}

.header__link_active {
  color: #22bacb;
}

.header__link_dark {
  color: #fff;
}

.header__link_active_dark {
  color: #99e2ea;
}

.header__btn {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.header__btn_image_moon {
  background-image: url('../../images/moon.svg');
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
}

.header__btn_image_sun {
  background-image: url('../../images/sun.svg');
  height: 24px;
  width: 24px;
}

/* @media all and (max-width: 1400px) {
  .header {
    margin: 0 auto 0 100px;
    padding-top: 36px;
  }
}

@media all and (max-width: 1280px) {
  .header {
    margin: 0 auto 0 40px;
  }

  .header__title {
    font-size: 22px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on, 'ss03' on, 'cv02' on, 'ss02' on, 'liga' off;
  }
}

@media all and (max-width: 1024px) {
  .header {
    margin: 0 auto 0 40px;
    padding-top: 20px;
  }

  .header__title {
    font-size: 16px;
    line-height: 28px;
  } */

/* @media (width: 1024px) and (height: 1366px) { 
    .header {
      margin: 0 auto 0 40px;
      padding-top: 36px;
    }
  
    .header__title {
      font-size: 22px;
    }
  }
} */

/* Phone 14 Pro Max */

/* @media all and (max-width: 430px) {
  .header {
    margin: 0 auto 20px 20px;
    padding-top: 20px;
  }

  .header__title {
    font-size: 16px;
    line-height: 28px;
  }
} */

@media screen and (min-width: 376px) {
  .navtab__hamburger {
    display: none;
    display: flex;
    gap: 22.5px;
    align-items: center;
  }
}

.navtab__hamburger-btn {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 6;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .navtab__hamburger-btn {
    width: 40px;
    height: 43px;
  }
}

.navtab__hamburger-bar {
  width: 32px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.navtab__hamburger-bar:nth-child(2) {
  top: calc(50% - 10px);
}
.navtab__hamburger-bar:nth-child(3) {
  top: calc(50% + 10px);
}

.navtab__hamburger-btn_active .navtab__hamburger-bar:nth-child(1) {
  display: none;
}

.navtab__hamburger-btn_active .navtab__hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.navtab__hamburger-btn_active .navtab__hamburger-bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.navtab__hamburger-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.3;
  transition-duration: 0.25s;
  visibility: hidden;
  z-index: 3;
}

.navtab__hamburger-nav_active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.3;
  transition-duration: 0.25s;
  visibility: visible;
  z-index: 3;
}

.navtab__hamburger-list {
  position: fixed;
  background: #ffffff;
  width: 520px;
  height: 100%;
  top: 0;
  right: -100%;
  margin: 0;
  z-index: 4;
  display: block;
  transition-duration: 0.25s;
  visibility: hidden;
  padding: 159px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .navtab__hamburger-list {
    width: 100%;
  }
}

.navtab__hamburger-list_active {
  right: 0;
  visibility: visible;
}

.navtab__hamburger-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #000000;
  margin: 0 0 28px;
}

.navtab__hamburger-item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .navtab__hamburger-item {
    margin: 0 0 24px;
  }
}

.navtab__hamburger-wrapper {
  margin: 621px 0 0;
  display: flex;
  gap: 23px;
}

@media screen and (max-width: 480px) {
  .navtab__hamburger-wrapper {
    margin: 420px 0 0;
  }
}
