.header {
  margin: 0 auto 124px 120px;
  padding-top: 40px;
}

.header__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #2B2D33;
}

.header__title_dark {
  color: #FFFFFF;
}