.clock {
  position: relative; /* для инпута адреса изображения*/
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 100px;
  width: 600px;
  height: 693px;
  background: #F5F5F6;
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
  border-radius: 40px;
}

.clock_dark {
  background: #18191A;
}

.clock__container-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 32px;
  margin-top: 60px;
  width: 100%;
}

.clock__input {
  outline: 0;
  margin: 0 auto;
  border: 0;
  padding: 12px 20px;
  background-color: transparent;
  max-width: 100%;
  text-align: center;
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
  color: #2B2D33;
}

.clock__input::selection {
  text-shadow: none;
  background: #22BACB1A;
}

.clock__input:hover {
  outline: 1px solid #22BACB;
  box-shadow: inset 0px 0px 2px rgba(19, 50, 78, 0.2);
  border-radius: 16px;
  cursor: pointer;
  background: #FFFFFF;
}

.clock__input:focus-visible {
  outline: 1px solid #22BACB;
  border-radius: 16px;
  background: #FFFFFF;
}

.clock__input::placeholder {
  color: #2B2D33;
}

.clock__input_dark {
  color: #FFF;
}

.clock__input_dark::placeholder {
  color: #FFF;
}

.clock__input_dark:hover {
  color: #2B2D33;
}

.clock__input_dark:hover::placeholder {
  color: #2B2D33;
}

.clock__input_dark:focus-visible {
  color: #2B2D33;
}

.clock__input_dark:focus-visible::placeholder {
  color: #2B2D33;
}

.clock__container-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 36px;
  width: 100%;
}

.clock__button-main {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
  border: 0;
  width: 100%;
  height: 60px;
  background: #FFF;
  border-radius: 28px;
  cursor: pointer;
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #22BACB;
}

.clock__button-main:hover {
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
}

.clock__button-main_dark {
  background: #2B2D33;
  color: #FFF;
}

.clock__button-main_dark:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.clock__button-main_active {
  background: #22BACB;
  color: #FFF;
}

.clock__button-main_active_dark {
  background: #99E2EA;
  color: #2B2D33;
}

.clock__button-mini {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 60px;
  font-family: 'SF UI Text';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
  color: #2B2D33;
  border-radius: 28px;
  cursor: pointer;
  background: #FFF;
  background-position: center;
  background-repeat: no-repeat;
}

.clock__button-mini:hover {
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
}

.clock__button-mini:active {
  background: #22BACB;
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
}

.clock__button-mini_dark {
  background: #2B2D33;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
}

.clock__button-mini_dark:active {
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
}

.clock__button-mini_dark:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.clock__button-mini_image_moon {
  background-image: url('../../images/moon.svg');
}

.clock__button-mini_image_moon:hover {
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
}

.clock__button-mini_image_moon:active {
  background-image: url('../../images/moon_active.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.clock__button-mini_image_sun {
  background-image: url('../../images/sun.svg');
}

.clock__button-mini_image_sun:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.clock__button-mini_image_sun:active {
  background-image: url('../../images/sun_active.svg');
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (max-width: 1280px) {
  .clock {
    padding: 0 72px;
    width: 579px;
    height: 500px;
    box-shadow: 0px 0.725px 11.6px rgba(16, 40, 84, 0.06);
    border-radius: 30px;
  }

  .clock__input {
    font-size: 20px;
    line-height: 24px;
  }

  .clock__container-date {
    gap: 16px 22px;
    margin-top: 44px;
  }

  .clock__container-button {
    gap: 16px;
    margin-top: 26px;
  }

  .clock__button-main {
    height: 44px;
    border-radius: 26px;
    font-size: 20px;
    line-height: 24px;
  }

  .clock__button-mini {
    height: 44px;
    font-size: 17px;
    line-height: 20px;
    background-size: 19.57px 19.57px;
  }

  .clock__button-mini_image_moon:active {
    background-size: 19.57px 19.57px;
  }

  .clock__button-mini_image_sun:active {
    background-size: 19.57px 19.57px;
  }
}

@media all and (max-width: 1024px) {
  .clock {
    padding: 0 56px;
    width: 450px;
    height: 387px;
    box-shadow: 0px 0.563471px 9.01554px rgba(16, 40, 84, 0.06);
    border-radius: 24px;
  }

  .clock__input {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 19px;
  }

  .clock__container-date {
    gap: 12px 18px;
    margin-top: 40px;
  }

  .clock__container-button {
    gap: 12px;
    margin-top: 20px;
  }

  .clock__button-main {
    height: 34px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .clock__button-mini {
    height: 34px;
    font-size: 14px;
    line-height: 17px;
    background-size: 15.21px 15.21px;
  }

  .clock__button-mini_image_moon:active {
    background-size: 15.21px 15.21px;
  }

  .clock__button-mini_image_sun:active {
    background-size: 15.21px 15.21px;
  }

  @media (width: 1024px) and (height: 1336px) { /* iPad Pro 12.9 */
    .clock {
      padding: 0 100px;
      width: 600px;
      height: 693px;
      border-radius: 40px;
    }
    
    .clock__container-date {
      gap: 24px 32px;
      margin-top: 60px;
    }
    
    .clock__input {
      padding: 12px 20px;
      font-size: 28px;
      line-height: 33px;
      font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
    }
    
    .clock__input:hover {
      box-shadow: inset 0px 0px 2px rgba(19, 50, 78, 0.2);
      border-radius: 16px;
    }
    
    .clock__container-button {
      gap: 24px;
      margin-top: 36px;
    }
    
    .clock__button-main {
      height: 60px;
      border-radius: 28px;
      font-size: 28px;
      line-height: 33px;
    }
    
    .clock__button-main:hover {
      box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
    }
    
    .clock__button-main_dark:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    }
    
    .clock__button-mini {
      height: 60px;
      font-size: 24px;
      line-height: 29px;
      font-feature-settings: 'ss03' on, 'cv02' on, 'cv04' on;
      border-radius: 28px;
    }
    
    .clock__button-mini:hover {
      box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
    }
    
    .clock__button-mini:active {
      box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
    }
    
    .clock__button-mini_dark:active {
      box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
    }
    
    .clock__button-mini_dark:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    }
    
    .clock__button-mini_image_moon {
      background-image: url('../../images/moon.svg');
      background-size: 27px 27px;
    }
    
    .clock__button-mini_image_moon:hover {
      box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
    }
    
    .clock__button-mini_image_moon:active {
      background-image: url('../../images/moon_active.svg');
      background-size: 27px 27px;
    }
    
    .clock__button-mini_image_sun {
      background-image: url('../../images/sun.svg');
      background-size: 27px 27px;
    }
    
    .clock__button-mini_image_sun:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    }
    
    .clock__button-mini_image_sun:active {
      background-image: url('../../images/sun_active.svg');
      background-size: 27px 27px;
    }
  }
}
