.clock {
  position: relative; /* для инпута адреса изображения*/
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px 100px;
  width: 800px;
  height: 693px;
  background: #F5F5F680;
  box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.06);
  border-radius: 40px;
}

.clock_dark {
  background: #18191A80;
}

.clock__input {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 142px;
  height: 57px;
  text-align: center;
  font-family: 'San Francisco(SF UI)';
  font-style: normal;
  font-weight: 400;
  font-size: 28.8px;
  line-height: 34px;
  color: #2B2D33;
}

.clock__input_dark {
  color: #FFFFFF;
}

.clock__input::placeholder {
  color: #2B2D33;
}

.clock__input_dark::placeholder {
  color: #FFFFFF;
}

.clock__input:last-of-type {
  margin: 60px 100px 0 36px;
}

.clock__input_new-year {
  border: 3px solid blue;
  text-align: start;
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, .7);
}

.clock__input_new-year:focus-visible { /* не работает */
  border: 3px solid blue;
}

.clock__dial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14.4px 36px 0 100px;
  width: 282px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(19, 50, 78, 0.07);
  border-radius: 36px;
  cursor: pointer;
}

.clock__dial:last-of-type {
  margin: 14.4px 100px 0 0;
}

.clock__dial_active {
  border: 5px solid #00B7CB;
  width: 272px;
  height: 235px;
}

.clock__dial-animation {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-name: blinking;
}

.clock__dia_text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 84px;
  color: #2B2D33;
}

.clock__button-main {
  margin: 31.2px 100px 0;
  padding: 0;
  border: 0;
  width: 600px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 28px;
  cursor: pointer;
  font-family: 'San Francisco(SF UI)';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #00B7CB;
}

.clock__button-main_active {
  background: #00B7CB;
  color: #FFFFFF;
}

.clock__button-mini {
  margin: 31.2px 20px 0 0;
  padding: 0;
  border: 0;
  width: 135px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 28px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.clock__button-mini_active {
  background: #D7D9DF;
  color: #FFFFFF;
}

.clock__button-mini_position_left {
  margin-left: 100px;
}

.clock__button-mini_position_right {
  margin-right: 100px;
}

.clock__button-mini_image_dark-mode {
  background-image: url('../../images/material-symbols_dark-mode-outline-rounded.svg');
}

.clock__button-mini_image_desktop {
  background-image: url('../../images/desktop.svg');
}

@keyframes blinking {
  0% {
    border: 5px solid #00B7CB;
  }
  25% {
    border: 5px solid red;
  }
  50% {
    border: 5px solid #00B7CB;
  }
  75% {
    border: 5px solid red;
  }
  100% {
    border: 5px solid #00B7CB;
  }
}