.casecard {
  position: relative;
  text-decoration: none;
  color: #2b2d33;
  width: 43%;
  background: #ffffff;
  border-radius: 40px;
  padding: 32px;
}

@media screen and (max-width: 376px) {
  .casecard {
    width: calc(100% - 20px - 20px);
    padding: 20px;
  }
}

.casecard:hover {
  text-decoration: none;
  color: #2b2d33;
  width: 43%;
  border: 4px solid #22bacb;
  padding: 28px;
}

@media screen and (max-width: 376px) {
  .casecard:hover {
    width: calc(100% - 20px - 20px);
    padding: 16px;
  }
}

.casecard_theme_dark:hover {
  border: 4px solid #99e2ea;
}

.casecard__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  margin: 0 0 20px;
}

@media screen and (max-width: 376px) {
  .casecard__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin: 0 0 20px;
  }
}

.casecard__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  margin: 0;
}

.casecard:hover .casecard__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  margin: 0 0 42px;
}

.casecard__button {
  display: none;
}

.casecard:hover .casecard__button {
  position: absolute;
  right: 32px;
  bottom: 32px;
  display: flex;
  gap: 9px;
}

.casecard__button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #2b2d33;
  margin: 0;
}

.casecard__button-icon {
  width: 5.5px;
  height: 9.5px;
  align-self: center;
}
