.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media all and (max-width: 1024px) {
  .footer {
    height: 50px;
  }

  @media (width: 1024px) and (height: 1366px) { /* iPad Pro 12.9 */
    .footer {
      height: 100px;
    }
  }
}

/* Phone 14 Pro Max */

@media all and (max-width: 430px) {
  .footer {
    height: 68px;
  }
}
